
.button-36 {
  padding: 12px 26px;
  padding-bottom: 18px;
  border: 0;
  font-size: 16px;
/*   transition: all 150ms ease-in-out; */
transition: "background-color 0.3s ease-in-out";
  border-radius: 20px;

  color:wheat;
  font-weight: bold;
  background: brown; 
  
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0, inset 0px -6px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px rgba(0, 0, 0, 0.15);
}

.button-36:hover {
  filter: brightness(0.98);
  scale:calc(1.05)
}

.button-36:active {
  filter: brightness(0.97);
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 6px 0, inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}
